.boldblue{
    font-weight: bolder;
    font-size: 2rem;
    line-height: 2.5rem;
    color: rgb(0, 147, 66);
    grid-column: span 2;
}
.blogimg{
    height: 15rem;
    width: 20rem;
    
}
.bloggrid{
    display: grid;
    width: 100%;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: auto;
    gap:3rem;
}
.blogPage{
    min-height: 200vh;
    
}
.red{
    font-size: 1.5rem;
    color: rgb(138, 0, 0);
    grid-column: span 2;
}
.listStyle{
    list-style:disc;
    font-size: 1.5rem;
}
.hugemargin{
    margin-top: 6rem;
}

@media screen and (max-width: 700px){
    .bloggrid{
        grid-template-columns: 1fr;
        
    }
    .boldblue{
        font-size: 1.5rem;
        grid-column: span 1;
        margin: 2rem;
    }
    .red{
        font-size: 1.2rem;
        grid-column: span 1;
    }
    .blogimg{
        height: 10rem;
        width: 12rem;
    }

}