@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@1,200&display=swap');
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}



.app{
  min-height: 100vh;
  
}
.section__padding {
  padding: 4rem 6rem;
}

.section__margin {
  margin: 4rem 6rem;
}

.flex_center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

}
.cardGrid{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  gap:3rem;
  margin: 1rem;
}
.card{
  min-height: 30rem;
  width: 25rem;
  border-radius: 10px;
  background-color: rgb(60, 0, 170);
  color: white;
  padding: 2rem;
}
.cardBtn{
  color: blue;
  background-color: white;
  height: 3rem;
  width: 6rem;
  transition: all ease 300ms;
}
.cardBtn:hover{
  cursor: pointer;
  color: white;
  background-color: blue;
}

.scale-up-center {
	-webkit-animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
	animation: scale-up-center 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
}

@-webkit-keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
            transform: scale(0.5);
  }
  100% {
    -webkit-transform: scale(1);
            transform: scale(1);
  }
}

@media screen and (max-width: 700px) {
  .section__padding {
    padding: 4rem;
  }

  .section__margin {
    margin: 4rem;
  }
  .cardGrid{
    grid-template-columns: 1fr;
  }
  .card{
    width: 16rem;
    min-height: 22rem;
    margin: 0;
  }
  .cardBtn{
    height: 3rem;
    width: 6rem;
  }


}

@media screen and (max-width: 550px) {
  .section__padding {
    padding: 2rem;
  }

  .section__margin {
    margin: 2rem;
  }  
  .hero__header{
    font-size: 2rem;
  }



 
}
@media screen and (max-width: 400px) {

  .hero__header{
    font-size: 1.5rem;
  }

}
