h1{
    color: black;
    text-decoration: underline;
    font-size: 3rem;
    margin: 1rem;
    font-family: 'Montserrat', sans-serif;
}
img{
    width: 100%;
    object-fit: cover;
    
}
button{
    width: 150px;
    height: 70px;
    border-radius: 500px;
    border-color: white;
    border: white solid 2px;
    background-color:rgb(11, 22, 179);
    margin: 1rem;
    
}
nav{
    
    width: 100dvw;
    display: flex;
    position: fixed;
    top:0;
    justify-content: space-between;
    align-items: center;
    padding:  1rem;
    background-color: #000000;
}
ul{
    display: flex;
    justify-content: space-evenly;
}

li{
    list-style: none;
    padding-inline: 1rem;
}

a{
    text-decoration: none;
    font-size: 1.2rem;
    color: white;
}
p{
    color: rgb(0, 0, 0);
    font-size: 1.2rem;
    font-family: 'Poppins', sans-serif;
    line-height: 1.5rem;
    padding: 1rem;
    white-space: pre-wrap;
    word-wrap: break-word;
}
span{
    color: white;
    font-size: 1.2 rem;
    font-family:'Raleway', sans-serif;
    line-height: 2rem;
    margin: 1rem;
}
h2{
    font-size: 1rem;
    margin-top: 0.5rem;
    color: rgb(162, 162, 162);
}

h3{
    font-size: 0.9rem;
    align-self: flex-end;
    padding: 1rem;
    color: rgb(162, 162, 162);
}
h4{
    margin: 1rem;
    display: block;
}
